/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    width: 100%;
   
  }
  